<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="local">
        <appender name="text" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${CONSOLE_LOG_PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="text"/>
        </root>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug"/>
        <logger name="org.hibernate.type" level="trace"/>
    </springProfile>

    <springProfile name="!local">
        <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <root level="info">
            <appender-ref ref="json"/>
        </root>

        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="debug" additivity="false">
            <appender-ref ref="json"/>
        </logger>

        <logger name="org.springframework.data.convert.CustomConversions" level="error"/>

        <logger name="no.nav.security.token.support.spring.validation.interceptor.JwtTokenHandlerInterceptor"
                level="warning"/>
        <logger name="org.hibernate.orm.connections.pooling" level="warn"/>
    </springProfile>

    <logger name="no.nav.klage" level="debug"/>

</configuration>
